extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="Name", name="name")
        input#inputUserSchool(type="text", placeholder="College Name", name="school")
        input#inputUserSkills(type="text", placeholder="Skills", name="skills")
        input#inputUserLF(type="text", placeholder="Looking For", name="lookingFor")
        button#btnSubmit(type="submit") submit
    form#removeuser(name="removeuser",method="post",action="/removeuser")
    	input#inputUserName(type="text", placeholder="Name", name="name")
    	button#btnSubmit(type="submit") submit
    form#addskillsandlooking(name="addskills",method="post",action="/addskills")
    	input#inputUserName(type="text", placeholder="Name", name="name")
    	input#inputUserSkills(type="text", placeholder="Skills", name="skills")
        input#inputUserLF(type="text", placeholder="Looking For", name="lookingFor")
    	button#btnSubmit(type="submit") submit)	
