extends layout

block content
	div(class="col-md-offset-4 col-md-4")
		p= error
	form#formAddUser(name="signup",method="post",action="/adduser")
		.form-group.col-md-offset-4.col-md-4
			label(for='userName') name
			input#userName.form-control(name="name", type='text', placeholder='Hack Tech')
		.form-group.col-md-offset-4.col-md-4
			label(for='userSkills') my skills
			input#userName.form-control(name="skills", type='text', placeholder='skill1, skill2, skill3 (comma separated)')
		.form-group.col-md-offset-4.col-md-4
			label(for='userLookingFor') what I'm looking for
			input#userName.form-control(name="lookingFor", type='text', placeholder='skill1, skill2, skill3 (comma separated)')
		.form-group.col-md-offset-4.col-md-4
			label(for='userEmail') email address
			input#userEmail.form-control(name="email", type='email', placeholder='hacktech@caltech.edu')
		.form-group.col-md-offset-4.col-md-4
			label(for='userPass') password
			input#userPass.form-control(name="password", type='password', placeholder='gitpumped')
		.form-group.col-md-offset-4.col-md-1
			button.btn.btn-default(type='submit') sign up
		div(class="col-md-4")
			a(href="/login") login



